<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real_state || Home</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- magnific-popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
<link href="/Site.css" rel="stylesheet" type="text/css" />
<link href="/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="/modernizr-2.6.2.js"></script>
</head>
<body>
  
       
    
  
         @{ 
            Html.RenderPartial("~/Views/Shared/_Header.cshtml");
        } 
             @RenderBody()
              @{ 
            Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
        }
    

  
       
  


    @*<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    </div>*@
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- magnific js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.easing.min.js"></script>
    <!--masonry js-->
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.js"></script>
    <!--form validation js-->
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- counter js -->
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>

    <script src="/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap.min.js"></script>
     @RenderSection("scripts", required: false)
</body>
</html>